/* upcoming math middle section style start */

#match-link {
    color: white;
    display: block;
    background-color: #6059f1;
    width: 150px;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.blog1 p {
    font-weight: bold;
    font-size: 15px;
    padding: 10px 15px;
}

.blog-text {
    text-align: center;
}

/* upcoming math middle section style end */